name: Commands Unit Tests
on:
  push:
  workflow_dispatch:

jobs:
   
  commands-unit-tests:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.11.0
          cache: yarn
      # Generate a .npmrc file with the NPM_TOKEN
      - run: echo "registry=https://registry.yarnpkg.com/" > .npmrc
      - run: echo "@internxt:registry=https://npm.pkg.github.com" >> .npmrc
      - run: echo //npm.pkg.github.com/:_authToken=${{ secrets.NPM_TOKEN }} >> .npmrc
      - run: echo "always-auth=true" >> .npmrc
      # Create env file
      - run: echo "${{ secrets.TEST_ENV}}" >> .env
      # Install dependencies, build and run tests
      - run: yarn install --network-timeout 600000
      - run: yarn build
      - run: yarn test:unit
