name: Publish Package to npmjs
on:
  release:
    types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - run: |
          echo "@internxt:registry=https://npm.pkg.github.com/" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> .npmrc

      - run: yarn

      - name: Add .env
        run: |
          echo "DRIVE_URL=https://drive.internxt.com" >> .env
          echo "DRIVE_API_URL=https://drive.internxt.com/api" >> .env
          echo "DRIVE_NEW_API_URL=https://api.internxt.com/drive" >> .env
          echo "PAYMENTS_API_URL=https://api.internxt.com/payments" >> .env
          echo "PHOTOS_API_URL=https://photos.internxt.com/api" >> .env
          echo "NETWORK_URL=https://api.internxt.com" >> .env
          echo "APP_CRYPTO_SECRET=6KYQBP847D4ATSFA" >> .env
          echo "APP_CRYPTO_SECRET2=8Q8VMUE3BJZV87GT" >> .env
          echo "APP_MAGIC_IV=d139cb9a2cd17092e79e1861cf9d7023" >> .env
          echo "APP_MAGIC_SALT=38dce0391b49efba88dbc8c39ebf868f0267eb110bb0012ab27dc52a528d61b1d1ed9d76f400ff58e3240028442b1eab9bb84e111d9dadd997982dbde9dbd25e" >> .env
          echo "RUDDERSTACK_WRITE_KEY=" >> .env
          echo "RUDDERSTACK_DATAPLANE_URL=" >> .env
          echo "NODE_ENV=production" >> .env

      - run: yarn run build

      # Change the registry to npmjs (to publish)
      - run: |
          echo "registry=https://registry.npmjs.org/" > .npmrc
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

      - run: npm publish --scope=@internxt --access public